<h1>Features</h1>
<%= render partial:'features_partial',collection: @features, as: :feature %>
<div>
  <button type="button" class="btn btn-secondary"><%= link_to "New Feature", new_feature_path %></button>
</div>
